.main-container {
    padding: 30px 60px 60px 60px;
    font-family: 'Inria Serif', sans-serif
}

.input-group {
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-feild {
    padding: 0 50px 0 26px !important;
}
  
.material-symbols-rounded{
    position: absolute;
    color: #888888;
}

.title {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.show-all-text {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    color: #000000A8;
}

.show-name-text {
    font-size: 14px; 
    color: white; 
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: center;
}

.arrow-icon-container {
    background: rgba(255, 255, 255, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer
}

.arrow-icon {
    color: black; 
    font-size: 22px;
}

.shows-image-wrapper {
    overflow-x: hidden;
    user-select: none;
}

.shows {
    width: max-content;
}


.shows-image-container {
    border-radius: 16px;
    overflow: hidden;
    position: relative
}

.episodes-image-container {
    padding: 10px;
    background-color: #F3F5F6;
    border-radius: 16px;
    width: min-content;
    overflow: hidden;
    position: relative;
}

.episodes-image-container:hover .episode-overlay, .shows-image-container:hover .shows-overlay {
    // display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
} 

.episodes-image-container:hover > *:not(:first-child) {
    filter: blur(1px);
}

.overlay {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.episode-overlay {
    margin: -10px;
}

.lock-icon {
    color: white;
    position: absolute;
    font-size: 22px;
    top: 50%;
    transform: translate(0%, -50%);
}

.episode-button {
    width: 100%;
    background-color: black !important;
    color: white !important;
    width: 90%;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: pointer
}

.btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

.image {
    object-fit: cover;
    border-radius: 16px;
    width: 160px;
    height: 100%;
    object-position: center center;
}

.episodes-title {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.episodes-description {
    font-size: 10px;
    font-weight: 700;
    color: #000000A8;
    text-align: justify;
    line-height: 14px;
}