<div class="main-container" fxLayoutGap="30px" fxLayout="column">
    <div class="shows-main-container" fxLayout="column" fxLayoutGap="20px">
        <div class="shows-header-container" fxLayout="row" fxLayoutAlign="space-between">
            <div>Shows</div>
            <div>Show All</div>
        </div>
        <div class="shows-image-wrapper">
            <div class="shows" fxLayout="row" fxLayoutGap="40px">
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
                <div class="shows-image-container"><img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found"></div>
            </div>
        </div>
    </div>
    <div class="shows-main-container" fxLayout="column" fxLayoutGap="20px">
        <div class="shows-header-container" fxLayout="row" fxLayoutAlign="space-between">
            <div>Episodes</div>
            <div>Show All</div>
        </div>
        <div class="shows-image-wrapper">
            <div class="shows" fxLayout="row" fxLayoutGap="40px">
                <div class="shows-image-container" fxLayout="column" fxLayoutGap="">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                    <div>Enna pesalam endru</div>
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" width="150px" height="150px" src="assets/6306486.jpg" alt="Image not found">
                </div>
            </div>
        </div>
    </div>
</div>