<div class="main-container" fxLayoutGap="30px" fxLayout="column">
    <div class="shows-main-container" fxLayout="column" fxLayoutGap="20px">
        <div class="shows-header-container" fxLayout="row" fxLayoutAlign="space-between">
            <div class="shows-title title">Shows</div>
            <div class="show-all-text">Show All</div>
        </div>
        <div class="shows-image-wrapper">
            <div class="shows" fxLayout="row" fxLayoutGap="40px">
                <div class="shows-image-container">      
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" width="160px" height="160px" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">      
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">      
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">      
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
                <div class="shows-image-container">      
                    <div class="shows-overlay overlay" fxLayoutAlign="center center" fxLayoutGap="15px" fxLayout="column">
                        <span class="show-name-text">Schumy vanna kaviyangal</span>
                        <div class="arrow-icon-container" fxLayoutAlign="center center"><span class="material-symbols-outlined arrow-icon">north_east</span></div>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                </div>
            </div>
        </div>
    </div>
    <div class="shows-main-container" fxLayout="column" fxLayoutGap="20px">
        <div class="shows-header-container" fxLayout="row" fxLayoutAlign="space-between">
            <div class="shows-title title">Episodes</div>
            <div class="show-all-text">Show All</div>
        </div>
        <div class="shows-image-wrapper">
            <div class="shows" fxLayout="row" fxLayoutGap="40px">
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="end center" fxLayout="column">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image"src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
                <div class="episodes-image-container" fxLayout="column" fxLayoutGap="10px">
                    <div class="episode-overlay overlay" fxLayoutAlign="center end">
                        <mat-icon class="lock-icon icon">lock</mat-icon>
                        <button type="button" mat-raised-button class="episode-button btn">$20</button>
                    </div>
                    <img class="shows-image image" src="assets/6306486.jpg" alt="Image not found">
                    <div class="episodes-title">Enna pesalam endru</div>
                    <div class="episodes-description">In this episode, Haashiraamaa Senju and Team along with Mankatha Mani discuss pointless things with some brief insights about COVID 19...</div>
                </div>
            </div>
        </div>
    </div>
</div>