<div class="form-container">
    <div class="title" style="font-size:32px;margin: 0 0 38px 0;font-weight: 600;" >Audio Cast</div>
    <div class="input-container">
        <!-- Username Input with Icon -->
        <form [formGroup]="logForm">
        <div class="input-group" >
            <input formControlName="email" class="input-feild" type="text" placeholder="User Name"> 
            <span class="material-symbols-rounded" style="font-size: 22px;" >person</span>
          </div>
        <!-- Username Input with Icon -->
        <div class="input-group">
            <input formControlName="password" class="input-feild" type="text" placeholder="Password"> 
            <span class="material-symbols-rounded" style="font-size: 22px;" >key</span>
        </div>
        </form>
    </div> 
    <button class="button-container" (click)="submitForm()">
        login
    </button>
    <div><u style="font-size: 14px;color: rgba(0, 0, 0, 0.664);cursor: pointer;" [routerLink]="['/signup']" > Create a new component</u></div>
</div>
