.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #fff, -20px 0 #fff2; background: #fff }
      33% {box-shadow: 20px 0 #fff, -20px 0 #fff2; background: #fff2}
      66% {box-shadow: 20px 0 #fff2, -20px 0 #fff; background: #fff2}
      100%{box-shadow: 20px 0 #fff2, -20px 0 #fff; background: #fff }
  }
  
  .input-container{
    transition: all 0.2s ease-in;
  }

.material-symbols-outlined {
  position: absolute;
  right: 10px; /* Adjust the right position as needed */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Adjust the font size as needed */
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between each input group */
  }
  
  .input-group {
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.material-symbols-rounded{
    position: absolute;
    right: 20px;
    color: #888888;
}