/* You can add global styles to this file, and also import other style files */
.input-feild{
    box-sizing: border-box;
    font-size: 14px;
    height: 52px;
    width: 360px;
    border-radius: 26px;
    background-color: #F3F5F6;
    border: none;
    outline: none;
    padding: 0 26px;
}

.button-container{
    box-sizing: border-box;
    cursor: pointer;
    height: 52px;
    width: 360px;
    border-radius: 26px;
    background-color: black;
    padding: 0 26px;
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
